<div class="form-group">
  <label>
    {{ label }}
    <span class="required" *ngIf="required">*required</span>
  </label>
  <input
    type="date"
    [formControl]="control"
    class="form-control"
    [placeholder]="placeholder"
    [class.is-invalid]="control?.invalid && (control?.dirty || control?.touched)"
  />
  <div class="error-message" *ngIf="control?.invalid && (control?.dirty || control?.touched)">
    <span *ngIf="control?.errors?.['required']">{{ label }} is required</span>
  </div>
</div>
