<nav class="breadcrumbs" aria-label="Breadcrumb">
  <div class="breadcrumbs-container">
    <ol class="breadcrumbs-list">
      <li *ngFor="let breadcrumb of breadcrumbs; let isLast = last" class="breadcrumb-item">
        <a *ngIf="!isLast" [href]="breadcrumb.url" class="breadcrumb-link">{{ breadcrumb.label }}</a>
        <span *ngIf="isLast" class="breadcrumb-current">{{ breadcrumb.label }}</span>
        <span *ngIf="!isLast" class="breadcrumb-separator">/</span>
      </li>
    </ol>
  </div>
</nav>
